<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .row > div {
            background: #f2f2f2;
            margin: 16px 0;
            padding: 40px;
        }
    </style>
    <title>Contact</title>
</head>
<body>






    
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <h1>Hola Mundo</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque dolor a vel nisi autem eos praesentium recusandae debitis harum exercitationem, similique pariatur eaque totam beatae unde obcaecati dolorum, ratione placeat!
                </p>
                <button class="btn btn-primary">Ver Más</button>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <h1>Hola Mundo</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque dolor a vel nisi autem eos praesentium recusandae debitis harum exercitationem, similique pariatur eaque totam beatae unde obcaecati dolorum, ratione placeat!
                </p>
                <button class="btn btn-primary">Ver Más</button>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <h1>Hola Mundo</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque dolor a vel nisi autem eos praesentium recusandae debitis harum exercitationem, similique pariatur eaque totam beatae unde obcaecati dolorum, ratione placeat!
                </p>
                <button class="btn btn-primary">Ver Más</button>
            </div>
        </div>
    </div>
</body>
</html>